<div class="row">
    <div class="col-sm-12">
        <form method="POST" action="/charities/{{volunteer.charityId}}/volunteers/{{volunteer._id}}/edit?_method=PUT">
            <fieldset>
                <legend>Edit Volunteer</legend>
                
                <div class="form-group">
                        <label for="volunteer-name">Name</label>
                        <input type="text" class="form-control" name="name" id="volunteer-name" value={{volunteer.name}}>
                </div>
                <div class="form-group">
                    <label for="volunteer-hours">Volunteer Hours</label>
                    <input class="input-group-field" type="number" name="volunteerHours" value={{volunteer.volunteerHours}}>
                </div>
            </fieldset>
            <input type="hidden" name="charityId" value={{volunteer.charityId}}>

            <!-- Post button -->
            <p>
                <button type="submit">Save</button>
            </p>
        </form>
    </div>
</div>